
/* reset
==========================*/
*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}

body{
	font: 13px 'Arial', 'Verdana', 'Tahoma', sans-serif;
	background: #F7F8FA;
}

/* clearfix
==========================*/
.clearfix:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
.border-radius-4{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
}
/* container
==========================*/
#wr-container{
	width: 790px;
	margin: 100px auto;
	overflow: hidden;
	background: #ffffff;

	box-shadow: 0 0 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,.5);

}
/* navbar
===========================*/
#navbar{
	height: 45px;
	background: linear-gradient(top, #FF9900 0%, #FFA319 50%);
	background: -webkit-linear-gradient(top, #FF9900 0%, #FFA319 50%);
	background: -moz-linear-gradient(top, #FF9900 0%, #FFA319 50%);
	background: -ms-linear-gradient(top, #FF9900 0%, #FFA319 50%);
	background: -o-linear-gradient(top, #FF9900 0%, #FFA319 50%);
}
.nav{
	max-width: 520px;
	margin: 0 auto;
}
.nav-user{
	max-width: 620px;
	margin: 0 auto;
}
.nav-user li{
	float: left;
}
#nav-title{
	max-width: 600px;
	margin: 0 auto;
}
#title{
	line-height: 45px;
	padding: 0 15px;
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color: #f1f1f1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.nav-user li a{
	line-height: 45px;
	padding: 0 15px;
	display: block;
	font-weight: bold;
	text-align: center;
	color: #f1f1f1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.nav-user li a:hover{
	background: linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -webkit-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -moz-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -ms-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -o-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
}
.nav li{
	float: left;	
}
.nav li a{
	line-height: 45px;
	padding: 0 15px;
	display: block;
	font-weight: bold;
	text-align: center;
	color: #f1f1f1;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.nav li a:hover{
	background: linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -webkit-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -moz-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -ms-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
	background: -o-linear-gradient(top, #CC7A00 0%, #E68A00 50%);
}
/* container-text
==========================*/
#container-text{
	margin: 15px 0;
}
#cnt-left{
	float: left;
	width: 400px;
	border-right: 1px solid #EBEBEB;
}
.img-text{
	width: 250px;
	margin: 0 auto;
	padding: 5px 0;
}
.img-text img{
	max-width: 100%;
}

#cnt-left h3{
	padding: 0 15px 5px 15px;
}
#cnt-left h4{
	width: 250px;
	margin: 0 auto;
	padding: 5px 0;
}
#cnt-left p{
	padding: 0 15px 5px 15px;
}
#cnt-right{
	float: right;
	width: 389px;
}
#cnt-right h3{
	padding: 10px 0;
	text-align: right;
	margin: 0 15px;
}
#userInformation, #postForm, #chatForm, #chat{
	width: 250px;
	margin: 0 auto;
	padding: 5px 0;
}
#chat{
	width: 250px;
	margin: 0 auto;
	padding: 5px 0;
}
#postTable{
	width: 400px;
	margin: 0 auto;
	padding: 5px 0;
}
#cnt-right h4{
	width: 250px;
	margin: 0 auto;
	padding: 5px 0;
}
#text-profile{
	height: 35px;
	width: 250px;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	margin: 0px auto;
}
#file{
	padding: 5px;
}
.select{
	width: 250px;
	display: block;
	margin : auto;
	padding: 15px 5px;
}
.select li{
	float: left;
	padding: 5px;
}
.select li:first-child{
	margin-top: 2px;
}
#submit-profile{
	float: right;
	border: none;
	background: linear-gradient(top, #34638A 0%, #4E7BA0 50%);
	background: -webkit-linear-gradient(top, #34638A 0%, #4E7BA0 50%);
	background: -moz-linear-gradient(top, #34638A 0%, #4E7BA0 50%);
	background: -ms-linear-gradient(top, #34638A 0%, #4E7BA0 50%);
	background: -o-linear-gradient(top, #34638A 0%, #4E7BA0 50%);
	color: #f1f1f1;
	font-weight: bold;
	padding: 5px;
	margin-right: 75px;
	cursor: pointer;
}
#submit-profile:active{
	margin-top: 1px;
}
/* footer
=============================*/
#footer h5{
	text-align: center;
	padding: 10px;
	margin: 0 25px;
	border-top: 1px solid #EBEBEB;
	color: #898B8A;
}
@media only screen and (max-width: 1024px){
	body{
		background: #000;
	}
}